header{
    background-color: darkcyan;
    background-image: url(pattern.png);
    background-size: contain;
    padding-top: 3%;
    
}

#logo{
    width: 10%;
    padding-left: 12%;
}

body{
    margin: 0%;
}

main{
    margin: auto;
    width: 75%;
}

#autore{
    color: dimgray;
}

#booleaner{
    color: dodgerblue;
}

#data{
    font-size: small;
}

#didascalia{
    font-size: smaller;
}

table{
    width: 100%;
    border-spacing: 0;
    margin: auto;
}

thead{
    background-color: darkcyan;
    
}

th{
    font-size: small;
    color: white;
    text-align: center;
}

tr{
    text-align: left;
}

#riga1{
    background-color: rgb(137, 255, 255);
}


#riga3{
    background-color: rgb(137, 255, 255);
}

footer{
    width: 75%;
    margin: auto;
    width: 75%;
}

.last-image{
    display: block;
    width: 20%;
}