header{
    background-color: darkcyan;
    background-image: url(pattern.png);
    background-size: contain;
    padding-top: 3%;
    
}

#logo{
    width: 10%;
    padding-left: 12%;
}

body{
    margin: 0%;
}

main{
    margin: auto;
    width: 75%;
}

#autore{
    color: dimgray;
}

#booleaner{
    color: dodgerblue;
}

#data{
    font-size: small;
}

#didascalia{
    font-size: smaller;
}